<div id="form" class="signup">
    <div>
        <img class="logoForm" src="/images/LOGO-3.png">
        <form class="downLog" action="/login" method="POST">
          <h2 class="signuptxth">Login</h2>
         <h2 class="signuptxt">Login</h2>
            <input class="input" type="email" id="input-email" name="email" placeholder="Your email" />
            <input class="input" type="password" name="password" id="input-password" placeholder="Password" />
            <button class="inputbtn" type="submit">Login</button>
            <p>Need an account? <a href="/signup" class="btnRecLog">Signup</a></p>
            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}
        </form>
     </div>
</div>