<section class=" error404 background404">
    <div class="">
        <img class="error404img" src="/images/404_2.png" alt="error 404 img">
        <a class="inputbtndetails" href="/">Return to homepage </a>
    </div>

</section>