<!--<h1>{{title}}</h1>
h2>Welcome to {{title}}</p> -->

<!-- Carrousel -->


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-caption d-none d-md-block">
      <h1>PROBANDO</h1>
      <p>...</p>
    </div>
    <div class="carousel-item active">

      <img class="d-block w-100" src="/images/benjamin-ilchmann-FE2EaKIcSr8-unsplash.jpg" alt="First slide">

    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/benjamin-ilchmann-FE2EaKIcSr8-unsplash.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/benjamin-ilchmann-FE2EaKIcSr8-unsplash.jpg" alt="Third slide">
    </div>
  </div>
</div>

{{!-- <iframe width="450" height="250" frameborder="0" style="border:0"
  src='https://www.google.com/maps/embed/v1/place?key=AIzaSyCdRIApHvycxFuoNzumbchM8rDD2p7ZckE&q=Passeig de Picasso, 21, 08003 Barcelona'
  allowfullscreen>
  allowfullscreen>
</iframe> --}}

<section class="main marginCards">

  <h2 class="mainHeading">Recomended places</h2>
  <section id="places">
    {{#if user._id}}
    <form action="/favorites/{{parkId}}" method="POST">
      <button type="submit">
        Favorito
      </button>
    </form>
    <div class="">
      {{/if}}
      {{#each places}}
      {{> cardPlaces this}}
      {{/each}}
    </div>
  </section>
  <section id="type-of-place" class="place-type">
    {{!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab eveniet possimus id error, ea ut ipsam velit
    laudantium repellat. Ut dolorum iste expedita, repellendus fuga facilis aspernatur doloribus placeat temporibus.</p> --}}
  </section>