<div class="main">
  <img class="card-img-top" src="{{place.image}}" alt="" />
  <div class="card-body">
    <h2>{{place.name}}</h2>
    <p>{{place.description}}</p>
  </div>
  {{#if user._id}}
  <div class="btn-details">
      <a href="/favorites" class="inputbtndetails">Go back to favorites places</a>
 </div>
  {{else}}
  <div class="btn-details">
    <a href="/" class="inputbtndetails">
      Go back to home
    </a>
  {{/if}}