body {
  margin: 0px;
  padding: 0px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

.main {
  height: 100%;
  background-image: url(../images/bg_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.mainHeading {
  padding-top: 5%; }

.text-Details {
  height: 700px;
  background-size: cover;
  background-position: center;
  color: white; }

.text-Details h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
  text-shadow: 0px 8px 13px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 18px 23px rgba(0, 0, 0, 0.1); }

.background-size {
  height: 500px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat; }

#content {
  text-align: left;
  padding-top: 15%; }

.userProfileDaftPunk {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to right bottom, rgba(0, 0, 255, 0.5), rgba(0, 128, 0, 0.5)), url(/images/woUbg3p._2jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }

#header {
  width: 50vw;
  max-width: 400px;
  min-width: 300px;
  height: 150px;
  background: url(/images/woUbg3p._2jpg);
  background-size: cover;
  background-position: center center;
  transition: all .08s linear; }

#profile {
  width: 50vw;
  max-width: 400px;
  min-width: 300px;
  height: 200px;
  background: white;
  position: relative;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 25px;
  font-family: 'Open Sans', sans-serif; }
  #profile .image {
    position: absolute;
    top: -55px;
    left: 20px;
    height: 80px;
    width: 80px;
    border-radius: 10px; }
    #profile .image img {
      width: inherit;
      height: inherit;
      border-radius: 8px; }
  #profile .name {
    font-size: 1.3rem;
    font-weight: 500;
    color: #444; }
  #profile .nickname {
    color: #888;
    font-size: 0.9rem;
    padding-bottom: 7px; }
  #profile .location {
    color: #555;
    font-size: 0.9rem;
    padding-left: 0px;
    position: relative;
    left: -5px; }
    #profile .location .material-icons {
      position: relative;
      top: 3px;
      font-size: 1rem; }

.shadow {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5); }

.overflow {
  overflow: hidden; }

.following,
.followers {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #bbb;
  font-weight: 300; }

.followers {
  float: right;
  padding-right: 30px; }

.bottom {
  margin-top: 10px; }

.count {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 700; }

.map-container-9,
.map-container-10,
.map-container-11 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-container-9 iframe,
.map-container-10 iframe,
.map-container-11 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.toggler-modifed {
  border-color: white; }

.signup {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-bottom: 14%; }

.logoForm {
  margin-top: 45%;
  height: 150px; }

.signuptxt {
  padding-right: 70%; }

.signuptxth {
  display: none; }

.downSign {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0% 5% 5% 5%; }

.downLog {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5%; }

.input {
  padding: 10px;
  border-radius: 33px;
  background-color: white;
  margin: 5px 5px 10px 5px;
  border: 0px; }

.inputbtn {
  text-decoration: none;
  padding: 10px;
  border-radius: 33px;
  background-color: #000;
  border-style: none;
  margin: 5px 5px 10px 5px;
  border: 0px;
  color: #fff; }

.inputbtn:hover {
  background-color: #EEC166;
  color: #000; }

.btnRecLog {
  color: #000; }

.btnRecLog:hover {
  color: #fff;
  text-decoration: none; }

.img-profile {
  height: 150px;
  width: 150px; }

.upImg {
  position: relative;
  background: none;
  border: none;
  bottom: 250px; }

.display {
  display: none; }

.heart {
  height: 25px; }

.detailsBtn {
  width: 238px;
  background-color: #EEC166;
  padding: 10px;
  border-radius: 33px;
  border-style: none;
  margin: 5px 5px 10px 5px;
  border: 0px;
  color: #fff;
  display: inline-flex;
  padding-left: 37%; }

.detailsBtn:hover {
  background-color: #EEC166; }

.marginCards {
  padding-left: 11%; }

.cardsModifed {
  border-radius: 1.25rem;
  border: none;
  background-color: white; }

.cardsModifed img {
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  border: none; }

.mainprofile {
  background-image: url(../images/bg_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 60%; }

.profile {
  display: flex;
  flex-direction: column;
  text-align: center; }

.paddingtop {
  padding-top: 70px; }

.margin {
  display: flex; }

.favorites-h1 {
  padding-top: 70px;
  margin: 0 20px 20px 20px; }

.space-between {
  padding-bottom: 20px;
  text-align: center; }

.favorites-h2 {
  margin: 20px; }

.favorites-p {
  margin: 20px; }

.inputbtndetails {
  align-items: center;
  padding: 10px;
  border-radius: 33px;
  background-color: #000;
  border-style: none;
  margin: 5px 5px 10px 5px;
  border: 0px;
  color: #fff; }

.inputbtndetails:hover {
  background-color: #e0e0e0;
  color: #000; }

.btn-details {
  display: flex;
  flex-direction: column;
  align-items: center; }

.Pet-headline {
  padding-top: 70px;
  text-align: center; }

.pets {
  float: left; }

.myPets {
  background-color: white;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto; }

.inputbtnPetsDetails {
  align-items: center;
  padding: 10px;
  border-radius: 33px;
  background-color: #062899;
  border-style: none;
  margin: 10px;
  border: 0px;
  color: #fff;
  text-decoration: none; }

.inputbtnPetsDelete {
  align-items: center;
  padding: 10px;
  border-radius: 33px;
  background-color: #ff0707;
  border-style: none;
  margin: 10px;
  border: 0px;
  color: #fff;
  text-decoration: none; }

.inputbtnAddPet {
  text-decoration: none;
  align-items: center;
  padding: 10px;
  border-radius: 33px;
  background-color: black;
  border-style: none;
  margin: 10px;
  border: 0px;
  color: #fff; }

.mainpets {
  background-image: url(../images/bg_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 100%; }

.imgPet {
  height: 50%; }

.bgpet {
  background-image: url(../images/bg_2.png);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh; }

.cropped1 {
  width: 200px;
  /* width of container */
  height: 300px;
  /* height of container */
  object-fit: cover;
  border: 5px solid black;
  margin-bottom: 20px; }

.petsbtn {
  margin-top: 20px; }

.background404 {
  background-color: #EEC166;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh; }

.error404 {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center; }

.error404img {
  max-width: 375px; }

.error {
  background-color: #fff;
  color: red;
  border-radius: 33px;
  border: #000;
  border: 5px;
  width: 300px;
  margin-left: auto;
  margin-right: auto; }

.conteiner-form {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 20px; }

@media (min-width: 700px) {
  body {
    margin: 0px;
    padding: 0px;
    font: 14px "Roboto", Helvetica, Arial, sans-serif; }
  .main {
    height: 100%;
    background-image: url(../images/bg-Desktop.jpg);
    padding-bottom: 100%; }
  .upImg {
    position: relative;
    background: none;
    border: none;
    bottom: 250px; }
  .heart {
    height: 25px; }
  .detailsBtn {
    width: 238px;
    background-color: #EEC166;
    padding: 10px;
    border-radius: 33px;
    border-style: none;
    margin: 5px 5px 10px 5px;
    border: 0px;
    color: #fff;
    display: inline-flex;
    padding-left: 37%; }
  .detailsBtn:hover {
    background-color: #EEC166; }
  .marginCards {
    padding-left: 5%; }
  .cardsModifed {
    float: left;
    border-radius: 1.25rem;
    border: none;
    position: static;
    top: 200px;
    margin-left: 30px;
    background-color: white;
    margin-bottom: 50px; }
  br {
    display: none; }
  .cardsModifed img {
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border: none; }
  .margin {
    justify-content: center;
    display: flex;
    /* padding: 40px; */ }
  .logoForm {
    margin-top: 15%;
    height: 150px; }
  .input {
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    width: 50%; }
  .inputbtn {
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    width: 50%; }
  .signuptxt {
    margin-top: 20px;
    display: none; }
  .signuptxth {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */