<!--<h1>{{title}}</h1>
h2>Welcome to {{title}}</p> -->
<section class="main">
 
  <h2 class="mainHeading">Recomended places</h2>
  <section id="places" class="recomendedPlaces">
    {{#if user._id}}
    <form action="/favorites/{{parkId}}" method="POST">
      <button type="submit">
        Favorito
      </button>
    </form>
    <div>
      {{/if}}
      {{#each places}}
      {{> cardPlaces this}}
      {{/each}}
    </div>
  </section>
  <section id="type-of-place" class="place-type">
    {{!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab eveniet possimus id error, ea ut ipsam velit
    laudantium repellat. Ut dolorum iste expedita, repellendus fuga facilis aspernatur doloribus placeat temporibus.</p> --}}
  </section>
</section>