<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My peet App</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
  <header>
  <nav>
  <ul class="menu">
    <li class="mainNav  logo"><a href="/">My pet App</a></li>
    <li class="mainNav  item"><a href="/">Home</a></li>
    <li class="mainNav  item"><a href="/places">Places</a></li>
    <li class="mainNav  item"><a href="/aboutus">About us</a></li>
    <li class="mainNav  item"><a href="/contact">Contact</a></li>
    <li class="mainNav  item button"><a href="/login">Log In</a></li>
    <li class="mainNav  item button"><a href="/signup">Sign Up</a></li>
    <li class="mainNav  item button"><a href="/logout">Log Out</a></li>

  </ul>
</nav>
  </header>
  {{{body}}}
  <script src="../public/javascripts/script.js"> </script>
</body>
</html>