<body  style="background-color: #eec168;"> 
<section style="padding-top:70px; padding-bottom:100%" id="chefs" class="chefs">
  <div class="container" style="height:100vh">

    <div class="section-title" style="text-align:center; margin-bottom:20px">
      <h2 style="text-transform: uppercase; margin-bottom:25px; color:white;"><strong>Add your pets</strong></h2>
      <p style="color:white;">This is your pets page my friend!</p>
       <a   class="inputbtnAddPet" href="/pet-add">Add your pet</a>
    </div>


      <div class="row">

        {{#each pets}}

        {{> cardPets this}}

        {{/each}}

      </div>
       <a  class="inputbtnAddPet" href="/userProfile"><i class="fas fa-undo-alt"></i></a>

    </div>

</section>
</body>