<!--<h2>USER PROFILE {{this.user.username}}</h2>-->
{{#if userInSession}}
<section class="mainprofile"> 
    <div class="profile"> 
<h2 class="paddingtop">Welcome, {{ userInSession.username }}!</h2>
<p>This is your profile page my friend!</p><span><img class="img-profile" src="{{userInSession.image}}" /> </span>
<div class="margin">
<a name="" id="" class="inputbtn" href="/pets" role="button">My pets</a>

<br>
<br>
<a name="" id="" class="inputbtn" href="/favorites" role="button">See your favorite places</a>
</div>



{{else}}
<p>Still no logged in user, sorry!</p>
</section>
{{/if}}