<h2>Favorite</h2>

{{#each places}}
    <div class="col-md-4">
      <img class="card-img-top" src="{{this.image}}" alt="" />
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
      </div>
    </div>
    <br>
    {{/each}}