{{#if user}}
<h2>What pet {{ user.username }} do want to add?</h2>
<p>Add your pets with this form</p>
<form action="pet-add" method="POST">
  <label for="">What his name:</label>
  <input type="text" name="name">
  <br>

  <!-- <input type="file" name="image"> -->
  <br>
  <label for="">Age:</label>
  <input type="number" name="age">
  <br>
  <label for="">Breed:</label>
  <input type="text" name="breed">
  <button type="submit">ADD</button>
</form>
</form>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}