<!--<h2>USER PROFILE {{this.user.username}}</h2>-->
{{#if userInSession}}
<h2>Welcome, {{ userInSession.username }}!</h2>
<p>This is your profile page my friend!</p><span><img  class="img-profile" src="{{userInSession.image}}" /> </span>
<a name="" id="" class="btn btn-primary" href="/pets" role="button">Probando rutas mascotas</a>
<button>
    <a href="/userProfile">Reload the page</a>
</button>
<br>
<br>
<button>
    <a href="/favorites">Tus favoritos</a>
</button>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}