<div id="form" class="signup">
  <div> 
    <img class="logoForm" src="/images/LOGO-3.png">
      <form class="downSign" action="/signup" method="POST">
            <h2 class="signuptxt">Signup</h2>
       <!-- <label for="input-email">Email</label>-->
        <input  class="input" type="email" id="input-email" name="email" placeholder="Email" />
        <!--<label for="input-username">Username</label>-->
        <input class="input" type="text" id="input-username" name="username" placeholder="Uername" />
      <!-- <label for="input-password">Password</label>-->
        <input class="input"  type="password" name="password" id="input-password" placeholder="Password" />

        <button  class="inputbtn"  type="submit">Sign up</button>
        <p>Have an account? <a href="/login" class="btnRecLog">Login</a></p>

        {{!-- error message will be added here --}}
        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
   </div>
</div>

